{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "prettier",
        "eslint:recommended"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "comma-dangle": ["error", "never"],
        "allow": ["warn", "error"],
        "semi": ["error", "always"],
        "no-extra-semi": "error"
    }
}
